body{
    margin: 0 auto;
}
header{
    background: lightblue;
    padding: 1%;
}
h1 {
    font-size: 4em;
}
nav{
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
}
h2{
    padding: 1%;
    font-size: 2.5em;
}
p{
    padding: 1%;
    font-size: 3em;
}

.button{
    border-radius: 25px;
    background-color: #3866e1;
    color: white;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    margin: 0.5%;
    font-size: 1em;
}
footer{
    display: flex;
    justify-content: space-around;
    margin: 0.5%;
}